body{background-color:#f0f0f0;font-family:微软雅黑, 宋体;font-size:12px;margin:0;padding:0;-webkit-text-size-adjust:none;}
*:focus{outline:none;}

#header{width:100%;height:30px;background-color:#1c1c1c;border-bottom:1px #3f3f3f solid;text-align:center;}
#view{-webkit-box-shadow:0 0 4px #c0c0c0;-moz-box-shadow:0 0 4px #c0c0c0;margin-top:3px;width: 800px;height:100%;padding: 27px;padding-top: 15px;padding-bottom: 15px;background-color: #fff;border: 1px solid #ccc;overflow:hidden;margin:0 auto;}
#title{width:800px;height:30px;margin:0 auto;margin-top:12px;}
#title-logo{width:22px;height:22px;background:url('../img/edit/title_logo.png') no-repeat;float:left;margin-left:-28px;}
#title-text{float:left;font-size:18px;margin-left:3px;margin-top:-1px;}
#view-flag{display:none;}

.frame{-webkit-box-shadow:0 0 4px #c0c0c0;-moz-box-shadow:0 0 4px #c0c0c0;height:100%;padding: 27px;padding-top: 15px;padding-bottom: 15px;background-color: #fff;border: 1px solid #ccc;overflow:hidden;margin:0 auto;}

#comment{width: 800px;margin-top:6px;cursor:pointer;}
#comment{text-align:center;margin-bottom:0px;}
#comment:hover{background-color: #f6f6f6;}
#comment-logo{width:24px;height:25px;background:url('../img/view/comment_logo.png') no-repeat;float:left;margin-left:360px;}
#comment-text{float:left;margin-left:8px;margin-top:5px;color:#676767;}

#my-comment{width: 800px;margin-top:6px;margin-bottom:120px;display:none;}
#my-comment-text-input{border:2px #e5e5e5 solid;float:left;width: 786px;height:80px;margin-top:12px;margin-bottom:10px;font-family:微软雅黑, 宋体;color: #a7a7a7;padding:5px;}
#my-comment-logo{width:167px;height:25px;background:url('../img/view/my_comment_logo.png') no-repeat;margin-top:10px;float:left;}

.button{width:72px;height:29px;border:0;text-align:center;cursor:pointer;background:url('../img/login/button_back.png') no-repeat;color:#6a7b8d;opacity:0.8;}
.button:hover{background:url('../img/login/button_back_hover.png') no-repeat;}
.button div{margin-top:6px;}
#submit-my-comment{float:right;margin-top:10px;}
#my-comment-tip{float:right;margin-top:17px;margin-right:10px;color:#00a8ff;}

#comment-view{color: #8d8d8d;width: 800px;margin-top:6px;display:none;}
#comment-view-logo{width:132px;height:25px;background:url('../img/view/comment_list_logo.png') no-repeat;margin-top:10px;margin-bottom:20px;}
.comment-item{margin-top:15px;border-bottom:1px #d3d3d3 dashed;padding-bottom:12px;}
.comment-num{color: #787878;float:left;margin-right:10px;font-weight:bold;}
.comment-time{color: #787878;}
.comment-content{margin-top:6px;margin-left:25px;}
.comment-del{float:right;color:#0084ff;cursor:pointer;display:none;}
.comment-del:hover{color:#00519c;}

#view-comment{width:24px;height:25px;background:url('../img/view/comment_logo.png') no-repeat;float:right;cursor:pointer;margin-right:-30px;}
#view-comment:hover{background:url('../img/view/comment_logo_hover.png') no-repeat;}

#logo{width:173px;height:22px;background:url('../img/edit/logo.png') no-repeat;float:left;margin-top:5px;margin-left:4px;}

::-webkit-scrollbar{background:#fff;}
::-webkit-scrollbar-thumb {background:#616161;}
::-webkit-scrollbar:vertical{width:6px;height:2px;}
::-webkit-scrollbar{border-left:1px #d4d4d4 solid;}